@import "tailwindcss";

:root {
  --background: #0a0a0a;
 
}





.custom-compare-slider .rcs-handle {
  width: 1px !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}